<a href="https://colab.research.google.com/github/awxsoul/colabpy/blob/main/Week02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print the numbers from 1 to 20 and also print the count of numbers divisible by 2.

In [13]:
count=0
for i in range(1,21):
  print(i, end=" ")
  if i%2==0:
    count+=1
print("\nNumber divisible by 2 :",count)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
Number divisible by 2 : 10

2. Iterate value from 6 to 16 and stop the iteration when the first even number occurs in the list.

In [3]:
for i in range(6,16):
  if i%2==0:
    print("First even number occured")
    break

First even number occured

Iterate the value from 3 to 12 and if the sum of all the numbers is greater than 20, then print 6 as
result.

In [6]:
sum=0
for i in range(3,13):
  sum+=i
if sum>20:
  print(6)

6

Get the input as integer values and print “yes” if the points are collinear else print “no”.

In [7]:
ab=int(input("Enter the value of AB :"))
bc=int(input("Enter the value of CB :"))
ac=int(input("Enter the value of AC :"))
if ac==ab+bc:
  print("yes")
else:
  print("no")

Enter the value of AB :4
Enter the value of CB :5
Enter the value of AC :9
yes

Print the sum of all odd numbers from 10 to 20.

In [10]:
sum=0
for i in range(10,21):
  if i%2!=0:
    sum+=i
print(sum)

75

Implement the pattern
1
1 2
1 2 3

In [16]:
for i in range(1,4):
  for j in range(1,i+1):
    print(j,end=" ")
  print("\n")

1

1 2

1 2 3